numpy>=1.15.0
pandas==1.0.5
scipy>=0.18
nltk>=3.4
pyjarowinkler
scikit-learn>=0.23
argparse
matplotlib
pyparsing
cycler
six
python-dateutil
kiwisolver
pytz
gensim==3.8.1
boto
joblib 
prettytable 
nimfa 
pillow 
seaborn
spacy==2.3.2
spacymoji==2.0